
//COLOR VARIABLES
$main-color-green: #00856F;
$light-green: #84C7AE;
$light-color-grey: #DCE9E2;
$light-beige: #FFFAF1;
$bg-light-grey:#E2F3ED;

//TEXT COLOR
$main-dark: #212B27;
$main-grey: #212b2780;

//MARGINS AND PADDINGS

$main-margin: 2rem;